@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@mixin  roboto {
    font-family: 'Roboto', sans-serif;
}

// === VARIABLES ===
$base: 4px;

$fw-regular: 400;
$fw-medium: 500;

$fs-sm: 16px;
$fs-md: 32px;
$fs-xl: 48px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #727272;
// === / VARIABLES ===

// === COMMON ===
body {
    @include roboto();
}

.section-outer {
    padding: 0 $base*5;
}

.section-inner {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: $base * 25;
    padding-bottom: $base * 25;

    &--wide {
        padding-top: $base;
        padding-bottom: $base;
    }

    &-projects {
        max-width: 100%;
        padding-top: $base*5;
        padding-bottom: 0;
    }
}

.ta-c {
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: $fw-medium;
}

.btn {
    display: inline-block;
    margin: 0;
    font-size: $fs-sm;
    padding: $base*6 $base*10;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #34547A;
    color: white;
    border: 1px solid;

    &:hover {
        background-color: darken(#34547A, 10%);
    }

    &-input {
        padding: $base*5 $base*10;
    }
}

.input {
    margin: $base * 5;
    padding: $base $base*10 $base*2;
    width: 190px;
    height: 50px;
    border: none;

    &-massage {
        width: 410px;
        height: 175px;
        border: none;
        margin-bottom: $base * 12;
        padding: $base*2 $base*22;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
// === / COMMON ===

// === HEADER ===
.section-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        & + & {
            margin-left: $base * 10;
        }

        &-link {
            margin-right: $base * 7;
            font-size: $fs-sm;
            font-weight: $fw-regular;
            text-decoration: none;
            color: $color-black;
        }
    }
}

.logo {
    width: $base * 22;
    height: $base * 7;
    margin-left: $base * 5;
}
// === / HEADER ===

// === FIRST === 
.section-first {
    background-color: #EEEFF1;

    .section-inner {
        display: flex;
        justify-content: center;

        .section-first {
            &__left {
                flex-basis: 40%;
            }
    
            &__right {
                &-title {
                    margin-left: $base * 32;
                    font-size: $fs-xl;
                }
    
                &-text {
                    margin-left: $base * 32;
                    width: 65%;
                    margin-top: $base * 15;
                    margin-bottom: $base * 15;
                    font-weight: $fw-regular;
                    color: $color-primary;
                    font-size: $fs-sm;
                    line-height: 2;
                }

                button {
                    margin-left: $base * 32;
                }
            }
        }
    }
}
// === / FIRST ===

// === ABOUT ===
.section-about {
    background-color: $color-white;

    .section-inner {
        h2{
            font-size: $fs-md;
            margin-bottom: $base * 10;
        }

        .text {
            width: 50%;
            margin: 0 auto;
            line-height: 2;
            text-align: center;
            color: $color-primary;
            font-size: $fs-sm;
            font-weight: $fw-regular;
        }
    }
}
// === / ABOUT ===

// === NUMBERS ===
.section-numbers {
    background-color: #34547A;
}

.numbers {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        display: flex;
        flex-basis: 16%;

        & + & {
            margin-left: $base * 12;
        }

        .text {
            margin-left: $base * 5;
            font-size: $base * 5;
            color: $color-white;

            span {
                font-size: $fs-sm;
            }
        }
    }
}
// === / NUMBERS ===

// === SKILLS ===
.section-skills {
    background-color: $color-white;
}

.skills-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
    
        &-left {
            flex-basis: 50%;
            margin-left: 0;

            h2 {
                margin-top: $base * 20;
                margin-bottom: $base * 12;
                font-size: $fs-md;
                font-weight: $fw-medium;
            }

            .text {
                position: relative;
                display: block;
                width: 70%;
                padding: $base * 5;
                margin-bottom: $base * 7;
                font-weight: $fw-regular;
                font-size: $fs-sm;
                color: $color-primary;
                border-bottom: 3px solid #34547A;

                &::before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    right: 0;
                    border-bottom: 3px solid #C4C4C4;
                    width: calc(100% - 350px);
                }
            }
        }

        &-right {
            flex-basis: 50%;
            img {
                width: 100%;
            }
        }
    }
}
// === / SKILLS ===

// === VIDEO ===
.section-video {
    background-color: #EEEFF1;

    .section-inner {
        h2{
            font-size: $fs-md;
            margin-bottom: $base * 10;
        }

        .text {
            width: 50%;
            margin: 0 auto;
            line-height: 2;
            text-align: center;
            color: $color-primary;
            font-size: $fs-sm;
            font-weight: $fw-regular;
            
        }

        video {
            margin-top: $base * 14;
            margin-left: $base * 6;
            width: 95%;
        }
    }
}
// === / VIDEO ===

// === PROJECTS ===
.section-projects {
    background-color: $color-white;
}

.section-projects-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    .image-link {
        position: relative;
        display: block;
        overflow: hidden;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &--active {           
            &::before {
                background: rgba(56, 85, 129, 0.8);
            }
        }
         
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
// === / PROJECTS ===

// === CLIENTS ===
.section-clients {
    background-color: $color-white;

    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
// === / CLIENTS ===

// === FORM ===
.section-form {
    background-color: #EEEFF1;

    .section-inner {
        h2{
            font-size: $fs-md;
            margin-bottom: $base * 10;
        }

        .text {
            width: 52%;
            margin: 0 auto;
            margin-bottom: $base * 12;
            line-height: 2;
            text-align: center;
            color: $color-primary;
            font-size: $fs-sm;
            font-weight: $fw-regular;
        }
    }
}

.form {
    &__input {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    &__btn {
        margin-left: 43%;
    }
}
// === / FORM ===

// === FOOTER ===
.section-footer {
    background-color: #34547A;

    .section-inner {
        display: flex;
        justify-content: space-between;
        padding-top: $base * 12;
        padding-bottom: $base * 12;

        h2 {
            font-size: $base * 5;
            color: $color-white;
            margin-bottom: $base * 5;
        }

        .text {
            font-weight: $fw-regular;
            font-size: $base * 3;
            color: $color-white;
        }

        svg {
            margin-left: $base * 5;
        }
    }
}
// === / FOOTER ===
