@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@mixin  roboto {
    font-family: 'Roboto', sans-serif;
}

// === Function ===
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}
// === / Function ===

// === VARIABLES ===
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: 4px;

$fw-regular: 400;
$fw-medium: 500;

$fs-sm: 16px;
$fs-md: 32px;
$fs-xl: 48px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #727272;
// === / VARIABLES ===

// === COMMON ===
body {
    @include roboto();
}

.section-outer {
    padding: 0 $base*5;
}

.section-inner {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: $base * 25;
    padding-bottom: $base * 25;

    &--wide {
        padding-top: $base;
        padding-bottom: $base;
    }

    &-projects {
        max-width: 100%;
        padding-top: $base*5;
        padding-bottom: 0;
    }
}

.vertical-indent {
    &-md {
        @media (max-width: $breakpoint-md-max) {
            padding-top: $base * 15;
            padding-bottom: $base * 15;
        }
    }

    &-sm {
        @media (max-width: $breakpoint-md-max) {
            padding-top: $base * 10;
            padding-bottom: $base * 10;
        }
        
    }
}

.ta-c {
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: $fw-medium;
}

.btn {
    display: inline-block;
    margin: 0;
    font-size: $fs-sm;
    padding: $base*6 $base*10;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #34547A;
    color: white;
    border: 1px solid;

    @media (max-width: $breakpoint-sm-max) {
        padding: $base*4 $base*5;
    }

    &-primary {
        &:hover {
            background-color: darken(#34547A, 10%);
        }
    }

    &-input {
        padding: $base*5 $base*10;
    }

    &-no-bg {
        padding: 0;
        margin: 0;
        background-color: rgb(243, 243, 243);
    }
}

.input {
    margin: $base * 5;
    padding: $base $base*10 $base*2;
    width: 190px;
    height: 50px;
    border: none;

    @media (max-width: $breakpoint-sm-max) {
        margin: $base*2 0;
        width: 100%;
    }

    &-massage {
        width: 410px;
        height: 175px;
        border: none;
        margin-bottom: $base * 12;
        padding: $base*2 $base*22;

        @media (max-width: $breakpoint-sm-max) {
            width: 100%;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
// === / COMMON ===

// === Navigation ===
.main-navigation {
    display: flex;
    align-items: center;

    &__inner-wrap {
        margin-left: auto;

        .section-header & {
            @media (max-width: $breakpoint-sm-max) {
                display: none;
                position: absolute;
                padding: $base * 5;
                top: 100%;
                left: 0;
                right: 0;
                background-color: $color-white;
                z-index: 100;
            }
        }
 
        .nav-wrapper {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;

            @media (max-width: $breakpoint-sm-max) {
                position: relative;
                flex-direction: column;
                left: 110%;
            }
        
            &__item {
                & + & {
                    margin-left: $base * 10;
                }

                @media (max-width: $breakpoint-sm-max) {
                    padding: $base;
                }
        
                &-link {
                    margin-right: $base * 7;
                    font-size: $fs-sm;
                    font-weight: $fw-regular;
                    text-decoration: none;
                    color: $color-black;
                }
            }
        }
    }
}
// === / Navigation ===

// === HEADER ===
.section-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;

    // === Стили для мобильного меню ===
    &::before {
        content: '';
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &--active-nav {
        &::before {
            display: block;
        }

        .main-navigation__inner-wrap {
            display: flex;
        }
    }
    // === / Стили для мобильного меню ===
}

.btn-burger {
    display: none;
    margin-left: auto;

    &__line {
        display: block;
        margin: $base *2 $base * 3;
        width: $base * 5;
        height: $base / 2;
        background-color: rgb(185, 184, 184);

        & + & {
            margin-top: $base;
        }
    }

    @media (max-width: $breakpoint-sm-max) {
        display: block;
    }
}

.logo {
    width: $base * 22;
    height: $base * 7;
    margin-left: $base * 5;
}
// === / HEADER ===

// === FIRST === 
.section-first {
    background-color: #EEEFF1;

    .section-inner {
        display: flex;
        justify-content: center;

        @media (max-width: $breakpoint-sm-max) {
            flex-direction: column;
            padding-bottom: $base * 10;
        }

        .section-first {
            &__left {
                flex-basis: 40%;

                @media (max-width: $breakpoint-sm-max) {
                    display: flex;
                    justify-content: center;
                   
                }
            }
    
            &__right {
                &-title {
                    margin-left: $base * 32;
                    font-size: $fs-xl;

                    @media (max-width: $breakpoint-sm-max) {
                        font-size: $fs-md;
                        margin-left: $base;
                        margin-top: $base * 2; 
                        text-align: center;        
                    }
                }
    
                &-text {
                    margin-left: $base * 32;
                    width: 65%;
                    margin-top: $base * 15;
                    margin-bottom: $base * 15;
                    font-weight: $fw-regular;
                    color: $color-primary;
                    font-size: $fs-sm;
                    line-height: 2;

                    @media (max-width: $breakpoint-sm-max) {
                        width: 100%;
                        text-align: center;
                        margin-top: $base * 5; 
                        margin-bottom: $base * 5;    
                        margin-left: $base;    
                    }
                }

                button {
                    margin-left: $base * 32;

                    @media (max-width: $breakpoint-sm-max) {
                        margin: 0;    
                        margin-left: 25%;
                    }
                }
            }
        }
    }
}
// === / FIRST ===

// === ABOUT ===
.section-about {
    background-color: $color-white;

    .section-inner {
        h2{
            font-size: $fs-md;
            margin-bottom: $base * 10;

            @media (max-width: $breakpoint-sm-max) {
                margin-bottom: $base * 5;         
            }
        }

        .text {
            width: 50%;
            margin: 0 auto;
            line-height: 2;
            text-align: center;
            color: $color-primary;
            font-size: $fs-sm;
            font-weight: $fw-regular;

            @media (max-width: $breakpoint-sm-max) {
                width: 100%;         
            }
        }
    }
}
// === / ABOUT ===

// === NUMBERS ===
.section-numbers {
    background-color: #34547A;
}

.numbers {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: $breakpoint-md-max) {
        flex-direction:column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: $breakpoint-sm-max) {
        flex-direction: row;
        justify-content: space-between;        
    }

    &__item {
        display: flex;
        flex-basis: 16%;

        @media (max-width: $breakpoint-sm-max) {
            
            &-no {
                display: none;
            }
        }

        @media (max-width: $breakpoint-md-max) {
            svg {
                padding: 0 0 $base*2 0;
            }
        }

        @media (max-width: $breakpoint-lg-max) {
            flex-wrap: wrap;
            flex-basis: auto;
        }

        & + & {
            margin-left: $base * 12;
        }

        .text {
            margin-left: $base * 5;
            font-size: $base * 5;
            color: $color-white;

            span {
                font-size: $fs-sm;
            }
        }
    }
}
// === / NUMBERS ===

// === SKILLS ===
.section-skills {
    background-color: $color-white;
}

.skills-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        display: flex;
        justify-content: space-between;
        min-width: 100%;

        @media (max-width: $breakpoint-sm-max) {
            flex-direction:column-reverse;  
        }
    
        &-left {
            flex-basis: 50%;
            margin-left: 0;

            @media (max-width: $breakpoint-sm-max) {
                flex-basis: 100%; 
            }

            h2 {
                margin-top: $base * 20;
                margin-bottom: $base * 12;
                font-size: $fs-md;
                font-weight: $fw-medium;

                @media (max-width: $breakpoint-sm-max) {
                    display: flex;
                    justify-content: center;  
                }

                @media (max-width: $breakpoint-md-max) {
                    margin-top: $base;
                    margin-bottom: $base;
                }
            }

            .text {
                position: relative;
                display: block;
                width: 70%;
                padding: $base * 5;
                margin-bottom: $base * 7;
                font-weight: $fw-regular;
                font-size: $fs-sm;
                color: $color-primary;
                border-bottom: 3px solid #34547A;

                &::before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    right: 0;
                    border-bottom: 3px solid #C4C4C4;
                    width: calc(100% - 350px);
                }

                @media (max-width: $breakpoint-sm-max) {
                    width: 85%;  
                }
            }
        }

        &-right {
            flex-basis: 50%;
            img {
                width: 100%;
            }
        }
    }
}
// === / SKILLS ===

// === VIDEO ===
.section-video {
    background-color: #EEEFF1;

    .section-inner {
        h2{
            font-size: $fs-md;
            margin-bottom: $base * 10;

            @media (max-width: $breakpoint-sm-max) {
                margin-bottom: $base * 5;  
            }
        }

        .text {
            width: 50%;
            margin: 0 auto;
            line-height: 2;
            text-align: center;
            color: $color-primary;
            font-size: $fs-sm;
            font-weight: $fw-regular;

            @media (max-width: $breakpoint-sm-max) {
                width: 100%;  
            }
            
        }

        video {
            margin-top: $base * 14;
            margin-left: $base * 6;
            width: 95%;

            @media (max-width: $breakpoint-sm-max) {
                margin-top: $base * 7;
                margin-bottom: $base * 3;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}
// === / VIDEO ===

// === PROJECTS ===
.section-projects {
    background-color: $color-white;
}

.section-projects-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    .image-link {
        position: relative;
        display: block;
        overflow: hidden;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &--active {           
            &::before {
                background: rgba(56, 85, 129, 0.8);
            }
        }
         
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
// === / PROJECTS ===

// === CLIENTS ===
.section-clients {
    background-color: $color-white;

    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $base * 18;
        padding-bottom: $base * 18;

        @media (max-width: $breakpoint-sm-max) {
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            padding-top: $base;
            padding-bottom: $base;
            
            img {
                width: 120px;
                margin: 0;
                padding: $base;
            }
        }

        @media (max-width: $breakpoint-lg-max) {
            justify-content: center;
            flex-wrap: wrap;
        }

        @media (max-width: $breakpoint-md-max) {
            padding-top: $base * 10;
            padding-bottom: $base * 10;
        }
    }
}
// === / CLIENTS ===

// === FORM ===
.section-form {
    background-color: #EEEFF1;

    .section-inner {
        h2{
            font-size: $fs-md;
            margin-bottom: $base * 10;

            @media (max-width: $breakpoint-sm-max) {
                margin-bottom: $base * 5;
            }
        }

        .text {
            width: 52%;
            margin: 0 auto;
            margin-bottom: $base * 12;
            line-height: 2;
            text-align: center;
            color: $color-primary;
            font-size: $fs-sm;
            font-weight: $fw-regular;

            @media (max-width: $breakpoint-sm-max) {
                width: 100%;
                margin-bottom: $base * 5;
            }
        }
    }
}

.form {
    &__input {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    &__btn {
        margin-left: 43%;

        @media (max-width: $breakpoint-sm-max) {
            margin-left: 26%;
        }
    }
}
// === / FORM ===

// === FOOTER ===
.section-footer {
    background-color: #34547A;

    .section-inner {
        display: flex;
        justify-content: space-between;
        padding-top: $base * 12;
        padding-bottom: $base * 12;

        @media (max-width: $breakpoint-sm-max) {
            padding-top: $base * 6;
            padding-bottom: $base * 6;
        }

        h2 {
            font-size: $base * 5;
            color: $color-white;
            margin-bottom: $base * 5;
        }

        .text {
            font-weight: $fw-regular;
            font-size: $base * 3;
            color: $color-white;
        }

        svg {
            margin-left: $base * 5;
        }
    }
}
// === / FOOTER ===
