@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.section-outer {
  padding: 0 20px;
}

.section-inner {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-inner--wide {
  padding-top: 4px;
  padding-bottom: 4px;
}
.section-inner-projects {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
}

.ta-c {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.btn {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  padding: 24px 40px;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #34547A;
  color: white;
  border: 1px solid;
}
.btn:hover {
  background-color: #253b56;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  margin-right: 28px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.logo {
  width: 88px;
  height: 28px;
  margin-left: 20px;
}

.section-first {
  background-color: #EEEFF1;
}
.section-first .section-inner {
  display: flex;
  justify-content: center;
}
.section-first .section-inner .section-first__left {
  flex-basis: 40%;
}
.section-first .section-inner .section-first__right-title {
  margin-left: 128px;
  font-size: 48px;
}
.section-first .section-inner .section-first__right-text {
  margin-left: 128px;
  width: 65%;
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: 400;
  color: #727272;
  font-size: 16px;
  line-height: 2;
}
.section-first .section-inner .section-first__right button {
  margin-left: 128px;
}

.section-about {
  background-color: #FFFFFF;
}
.section-about .section-inner h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
.section-about .section-inner .text {
  width: 50%;
  margin: 0 auto;
  line-height: 2;
  text-align: center;
  color: #727272;
  font-size: 16px;
  font-weight: 400;
}

.section-numbers {
  background-color: #34547A;
}

.numbers {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.numbers__item {
  display: flex;
  flex-basis: 16%;
}
.numbers__item + .numbers__item {
  margin-left: 48px;
}
.numbers__item .text {
  margin-left: 20px;
  font-size: 20px;
  color: #FFFFFF;
}
.numbers__item .text span {
  font-size: 16px;
}

.section-skills {
  background-color: #FFFFFF;
}

.skills-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.skills-wrapper__item {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.skills-wrapper__item-left {
  flex-basis: 50%;
  margin-left: 0;
}
.skills-wrapper__item-left h2 {
  margin-top: 80px;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
}
.skills-wrapper__item-left .text {
  position: relative;
  display: block;
  width: 70%;
  padding: 20px;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  border-bottom: 3px solid #34547A;
}
.skills-wrapper__item-left .text::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 3px solid #C4C4C4;
  width: calc(100% - 350px);
}
.skills-wrapper__item-right {
  flex-basis: 50%;
}
.skills-wrapper__item-right img {
  width: 100%;
}

.section-video {
  background-color: #EEEFF1;
}
.section-video .section-inner h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
.section-video .section-inner .text {
  width: 50%;
  margin: 0 auto;
  line-height: 2;
  text-align: center;
  color: #727272;
  font-size: 16px;
  font-weight: 400;
}
.section-video .section-inner video {
  margin-top: 56px;
  margin-left: 24px;
  width: 95%;
}

.section-projects {
  background-color: #FFFFFF;
}

.section-projects-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.section-projects-wrapper .image-link img {
  width: 100%;
}

.section-clients {
  background-color: #FFFFFF;
}

.section-form {
  background-color: #EEEFF1;
}

.section-footer {
  background-color: #34547A;
}/*# sourceMappingURL=style.css.map */